<% layout("/layouts/boilerplate") %>
<body>
   <div class="row">
      <div class="col-8 offset-2">
         <br>
         <h2>Edit Listing</h2>
         <br>

      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" id="listingForm" enctype="multipart/form-data">

            <div class="mb-3">
               <label for="title" class="form-label">Title</label>
               <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" placeholder="Enter title" required>
               <div class="invalid-feedback">Title is required</div> 
            </div>

            <div class="mb-3">
               <label for="description" class="form-label">Description</label>
               <textarea name="listing[description]" class="form-control" placeholder="Enter description" required><%= listing.description %></textarea>
               <div class="invalid-feedback">Description is required</div>
            </div>

            <div class="mb-3">
               <label for="image" class="form-label">Upload new Image</label>
               <input name="listing[image]"  type="file" class="form-control"/>
            </div>

            <div class="row">
               <div class="mb-3 col-md-4">
                  <label for="price" class="form-label">Price</label>
                  <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" placeholder="Enter price" required>
                  <div class="invalid-feedback">Price should be valid</div> 
               </div>

               <div class="mb-3 col-md-8">
                  <label for="country" class="form-label">Country</label>
                  <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" placeholder="Enter country" required>
                  <div class="invalid-feedback">Country name is required</div> 
               </div>
            </div>

            <div class="mb-3">
               <label for="location" class="form-label">Location</label>
               <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" placeholder="Enter location" required>
               <div class="invalid-feedback">Location is required</div>  
            </div>

            <br>
            <button class="btn btn-dark edit-btn" type="submit">Update</button>
            <br><br><br>

         </form>
      </div>
   </div>

   <script>
      document.getElementById("listingForm").addEventListener("submit", function(event) {
          let form = event.target;
          if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
          }
          form.classList.add("was-validated");
      });
   </script>

</body>
