<% layout("/layouts/boilerplate") %>
<br>
<div class="row justify-content-center"> <!-- Center the content -->
    <div class="col-8">
        <h2><b><%= listing.title %></b></h2>
        <div class="card"> <!-- Removed col-6 to prevent nesting issues -->
            <img src="<%=listing.image%>" class="card-img-top show-image" alt="Listing Image">
             <div class="card-body">
                    <%= listing.description %><br>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %><br>
                    <%= listing.location %><br>
                    <%= listing.country %><br>
                    <br><br>
                
                    <div class="d-flex gap-3 mt-3">
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger">Edit this Listing</a>
                        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                            <button class="btn btn-dark">Delete this Listing</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>